<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Кредит</title>
    <link th:href="@{webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"  type="text/css"/>
    <link th:href="@{../static/css/index.css}" href="../static/css/index.css" rel="stylesheet" type="text/css"/>
    <style>
        body {
            padding-top: 60px;
            padding-bottom: 40px;
            background-color: #eee;
        }
        .btns-footer {
            padding-right: 10px;
        }
    </style>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="btns-footer">
        <a href="/bank" class="navbar-brand">Главная страница</a>
        <div class="collapse navbar-collapse">
            <form class="navbar-form navbar-right">
                <a class="btn btn-info" role="button" href="checkData">Проверить статус заявки</a>
            </form>
            <form class="navbar-form navbar-right">
                <a class="btn btn-warning" role="button" href="ws/sentSoapData.wsdl">WSDL Schema</a>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div id="massageDiv" class="alert alert-success" role="alert">
        <p th:text="'статус вашей заявки: ' + ${sendDataModel.status}"></p>
        <p th:text="'Имя: ' + ${sendDataModel.firstName} + '.'"></p>
        <p th:text="'Фамилия: ' + ${sendDataModel.secondName} + '.'"></p>
        <p th:text="'Серия пасспорта: ' + ${sendDataModel.passportSeries} + '.'"></p>
        <p th:text="'Номер пасспорта: ' + ${sendDataModel.passportNumber} + '.'"></p>
        <p th:text="'Номер телефона: ' + ${sendDataModel.phone} + '.'"></p>
        <p th:text="'Возраст: ' + ${sendDataModel.age} + '.'"></p>
        <p th:text="'Дата рождения: ' + ${sendDataModel.birthDate} + '.'"></p>
        <p th:text="'Работа: ' + ${sendDataModel.work}"></p>
        <p th:text="'Доход: ' + ${sendDataModel.salary} + '.'"></p>
        <p th:text="${sendDataModel.badHabits}"></p>
        <p th:text="'Автомобиль: ' + ${sendDataModel.car}"></p>
        <p th:text="${sendDataModel.richRelative}"></p>
        <p th:text="${sendDataModel.aircraft}"></p>
        <p th:text="'Контактное лицо: ' + ${sendDataModel.contactPerson} + '.'"></p>
    </div>
</div>
<script th:inline="javascript">
    var status = [[${sendDataModel.status}]];

    if(status === 'Кредит одобрен (автоматически).' || status === 'Кредит одобрен.') {
        document.getElementById("massageDiv").className = 'alert alert-success';
    }

    else if(status === 'На рассмотрении.') {
        document.getElementById("massageDiv").className = 'alert alert-info';
    }

    else if(status === 'В получении кредита отказано.') {
        document.getElementById("massageDiv").className = 'alert alert-danger';
    }

    else if(status === 'Нипанятна.') {
        document.getElementById("massageDiv").className = 'alert alert-warning';
    }

</script>
</body>
</html>
