<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Кредит</title>
    <link th:href="@{webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"  type="text/css"/>
    <link th:href="@{../static/css/index.css}" href="../static/css/index.css" rel="stylesheet" type="text/css"/>
    <style>
        body {
            padding-top: 60px;
            padding-bottom: 40px;
            background-color: #eee;
        }
        .btns-footer {
            padding-right: 10px;
        }
    </style>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="btns-footer">
        <a href="/bank" class="navbar-brand">Главная страница</a>
        <div class="collapse navbar-collapse">
            <form class="navbar-form navbar-right">
                <a class="btn btn-info" role="button" href="checkData">Проверить статус заявки</a>
            </form>
            <form class="navbar-form navbar-right">
                <a class="btn btn-warning" role="button" href="ws/sentSoapData.wsdl">WSDL Schema</a>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div id="massageDiv" class="alert alert-success" role="alert">
        <p th:text="'Уважаемый ' + ${sendDataModel.secondName} + ' ' + ${sendDataModel.firstName} + '. Ваша заявка отправлена на рассмотрение.'"></p><a href="checkData" class="alert-link">Вы можете проверить статус вашей заявки здесь!</a>
    </div>
</div>
<script th:inline="javascript">

    document.getElementById("massageDiv").className = [[${sendDataModel.HtmlClassName}]];

</script>
</body>
</html>
