<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
    <style>
        body {
            padding-top: 60px;
            padding-bottom: 40px;
            background-color: #eee;
        }
        .btns-footer {
            padding-right: 10px;
        }

        .form-signin {
            max-width: 660px;
            padding: 15px;
            margin: 0 auto;
        }
        .btn-lg{
            width: 40px;
            max-width: 160px;
            position: relative;

            margin: 30px 0 0 auto;
        }
        .navbar-right{
            margin: 7px 7px 7px 7px;
        }
        .navbar-left{
            margin: 7px 7px 7px 7px;
        }
    </style>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="btns-footer">
        <a href="/bank" class="navbar-brand">Главная страница</a>
        <div class="collapse navbar-collapse">
            <form class="navbar-form navbar-right">
                <a class="btn btn-info" role="button" href="checkData">Проверить статус заявки</a>
            </form>
            <form class="navbar-form navbar-right">
                <a class="btn btn-warning" role="button" href="ws/sentSoapData.wsdl">WSDL Schema</a>
            </form>
        </div>
    </div>
</div>

<div class="container alert alert-info form-signin">
    <form action="#" th:action="@{/sendData}" th:object="${sendDataModel}" method="post">
        <h2 class="alert-heading">Заявка на кредит</h2>
        <div class="form-group">
            <p>Ваше имя: <br/><input type="text" th:field="*{firstName}" /></p>
        </div>
        <div class="form-group">
            <p>Ваша фамилия: <br/><input type="text" th:field="*{secondName}" /></p>
        </div>
        <div class="form-group">
            <p>Серия вашего пасспорта: <br/><input type="number" th:field="*{passportSeries}" /></p>
        </div>
        <div class="form-group">
            <p>Номер вашего паспорта: <br/><input type="number" th:field="*{passportNumber}" /></p>
        </div>
        <div class="form-group">
            <p>Ваш телефон: <br/><input type="text" th:field="*{phone}" /></p>
        </div>
        <div class="form-group">
            <p>Ваш день рожденья: <br/><input type="date" th:field="*{birthDate}" /></p>
        </div>

        <div class="form-group">
            Вы работаете?
            <br/><input type="radio" th:field="*{work}" th:value="'YES'" th:text="''" id="workYes" /><label for="workYes">Да</label>
            <input type="radio" th:field="*{work}" th:value="'NO'" th:text="''" id="workNo" /><label for="workNo">Нет</label>
            <input type="radio" th:field="*{work}" th:value="'HZ'" th:text="''" id="workHz" /><label for="workHz">хз</label>
        </div>
        <div class="form-group">
            <p>Ваш доход: <br/><input type="number" th:field="*{salary}" /></p>
        </div>
        <div class="form-group">
            <input type="checkbox" id="badHabitsId"
                      class="ads_Checkbox"
                      th:field="*{badHabits}"
                      th:text="''"
                      th:value="'true'"/><label for="badHabitsId">Вредные привычки.</label>
        </div>
        <div class="form-group">
            <label for="carId">Ваша машина:</label>
            <select name="car" id="carId" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <option th:value="'NONE'" value="none">Нет машины</option>
                <option th:value="'TAZZ'" value="tazz">У меня таз =(</option>
                <option th:value="'FOREIGN_CAR'" value="foreignCar">Иномарка)</option>
                <option th:value="'LIKE_ROLLS_ROYCE'" value="likeRollsRoyce">Чёто типа Ролс-Ройса 8)</option>
            </select>
        </div>
        <div class="form-group">
            <input type="checkbox" id="richRelativeId"
                      class="ads_Checkbox"
                      th:field="*{richRelative}"
                      th:text="''"
                      th:value="'true'"/>
            <label for="richRelativeId">Наличие близкого и очень богатого родственника.</label>
        </div>
        <div class="form-group">
            <input type="checkbox" id="aircraftId"
                      class="ads_Checkbox"
                      th:field="*{aircraft}"
                      th:text="''"
                      th:value="'true'"/><label for="aircraftId">Личный самолёт.</label>
        </div>
        <div class="form-group">
            <p>Контактное лицо: <br/><input type="text" th:field="*{contactPerson}" /></p>
        </div>
        <p><input type="submit" id="submitButton" class="btn btn-lg btn-primary btn-block navbar-left" value="Отправить" /> <input type="reset" class="btn btn-lg btn-danger btn-block navbar-right" value="Сброс" /></p>
    </form>
</div>
</body>
</html>